<div class="jumbotron">
  <h1>Epicodus Shoe Distribution</h1>
</div>
<div class="well">
  <% if @stores.any?() %>
    <h2>Here are the store(s): </h2>
    <ul class="list-inline">
      <% @stores.each() do |store| %>
        <li><a class="btn btn-primary" href="/stores/<%= store.id() %>"><%= store.name() %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h2>There aren't any stores yet!</h2>
  <% end %>
</div>

<form action="/stores" method="post">
  <fieldset>
    <legend>Add a Store Here</legend>
    <label for="store_name"></label>
    <input id="store_name" name="store_name" type="text" placeholder="Enter a Store Name">

    <button type="submit" class="btn btn-secondary">Add Store</button>
  </fieldset>
</form><br>
